* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    max-width: 850px;
    margin: 0 auto;
}

img {
    width: 100px;
    float: left;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
}

.col {
    float:left;
    width: (100% / 3);
}

.card {
    border: 1px solid;
    padding: 20px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
